.button_plus {
    position: fixed; /* positie vaststellen op de pagina */
    left: 150px; /* afstand vanaf de linkerkant van de pagina */
    top: 25%; /* verticaal centreren */
    transform: translateY(-50%); /* verticaal centreren */
    width: 200px; /* breedte van de knop vergroten */
    height: 200px; /* hoogte van de knop vergroten */
    background: #ddd;
    cursor: pointer;
    border: 4px solid white;
    z-index: 999; /* z-index verhogen om ervoor te zorgen dat de knop bovenaan blijft */
  }
  
  .button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #095776;
    top: 50%;
    left: 50%;
  }
  
  .button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #095776;
    height: 50%;
    width: 4px;
  }
  
  .button_plus:hover:before,
  .button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plus:hover {
    background-color: #095776;
    transition: 0.2s;
  }


  .table-container {
    position: fixed; /* Plaats de container vast op het scherm */
    top: 20px; /* Afstand vanaf de bovenkant van het scherm */
    right: 400px; /* Afstand vanaf de rechterkant van het scherm */
    max-width: 600px; /* Optioneel: maximale breedte van de tabelcontainer */
}


/* Solid border */
/* hr.solid {
   
  } */







/* navbar */
.nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    position: fixed;
    bottom: 1rem;
    width: 90%;
    background-color: hsl(224, 50%, 31%);
    border-radius: 3.5rem;
    padding: 0.5rem 2.25rem 0.5rem 0rem;
    backdrop-filter: blur(10px);
    transition: .4s;
    border: 1px solid grey;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__link{
    color:var(--font-color);
    font-size:1.25rem;
    padding: .3rem;
    display: flex;
    border-radius: 5rem;
}

.active__link{
    background:linear-gradient(180deg,
    hsla(var(--font-color),66%,75%,1),
    hsla(120,66%,75%,2));
    box-shadow: 0 0 16px hsla(120,66%,75%, 4);
    color: white;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

@media screen and (min-width:576px){
    .nav__menu{
        width:328px;
        left: 0px;
        right: 0;
        margin: 0 auto;
    }
}